.EditContactPage_FullNameItem-input {
    background-color: white;
    padding: 5px 10px;
    cursor: text;
    width: 100%;
    border: 2px solid hsl(0, 0%, 70%);
    height: 44px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.EditContactPage_FullNameItem-input:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
.EditContactPage_FullNameItem-input[disabled] {
    background-color: hsl(0, 0%, 95%);
}
