.ContactSelectPage_Item {
    line-height: 25px;
    margin-top: 10px;
}
.ContactSelectPage_Item:first-child {
    margin-top: 0;
}

.ContactSelectPage_Item-click {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ContactSelectPage_Item-button {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    border: 2px solid hsl(0, 0%, 70%);
    cursor: inherit;
    margin-right: 5px;
    line-height: 21px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}
.ContactSelectPage_Item-button:focus {
    background-color: hsl(95, 70%, 95%);
    border-color: hsl(95, 60%, 55%);
}
.ContactSelectPage_Item-button:active {
    background-color: hsl(95, 70%, 85%);
}
.ContactSelectPage_Item-button.selected {
    color: white;
    background-color: hsl(95, 60%, 55%);
    border-color: hsl(95, 60%, 55%);
}
.ContactSelectPage_Item-button.selected:active {
    color: hsl(95, 60%, 55%);
    background-color: hsl(95, 60%, 35%);
    border-color: hsl(95, 60%, 35%);
}
