.UserInfoPanel_Panel-empty {
    color: hsl(0, 0%, 70%);
    text-align: center;
}
.UserInfoPanel_Panel-empty.hidden {
    display: none;
}

.UserInfoPanel_Panel-item {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}
.UserInfoPanel_Panel-item.hidden {
    display: none;
}
