.SignUpPage_AdvancedItem {
    margin-top: 10px;
    line-height: 25px;
}

.SignUpPage_AdvancedItem-button {
    display: inline-block;
    vertical-align: top;
    color: hsl(95, 60%, 55%);
    cursor: pointer;
    padding-right: 4px;
    padding-left: 3px;
    background-color: white;
}
.SignUpPage_AdvancedItem-button:focus {
    background-color: hsl(95, 70%, 95%);
}
.SignUpPage_AdvancedItem-button:active {
    background-color: hsl(95, 70%, 85%);
}

.SignUpPage_AdvancedItem-arrow {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: inherit;
}

.SignUpPage_AdvancedItem-line {
    margin-top: -13px;
    margin-bottom: 12px;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}
