.SignUpPage_Page {
    overflow: auto;
    text-align: center;
}

.SignUpPage_Page-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.SignUpPage_Page-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: left;
}

.SignUpPage_Page-title {
    text-align: center;
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    margin-top: 34px;
}

.SignUpPage_Page-button {
    margin-top: 10px;
    width: 100%;
}

.SignUpPage_Page-offerUsername {
    font-weight: bold;
}
