.SignUpPage_TimezoneItem-select {
    vertical-align: top;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    border: 2px solid hsl(0, 0%, 70%);
    height: 44px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.SignUpPage_TimezoneItem-select:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
.SignUpPage_TimezoneItem-select[disabled] {
    background-color: hsl(0, 0%, 95%);
}
