.SignUpPage_CaptchaItem-image {
    display: inline-block;
    vertical-align: top;
    background-color: hsl(0, 0%, 95%);
    width: 140px;
    min-height: 40px;
    line-height: 40px;
    background-repeat: no-repeat;
    text-align: center;
}
.SignUpPage_CaptchaItem-image.error {
    background-color: hsl(350, 70%, 55%);
    color: white;
}

.SignUpPage_CaptchaItem-reloadButton {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 110px;
}

.SignUpPage_CaptchaItem-input {
    background-color: white;
    padding: 5px 10px;
    cursor: text;
    width: 100%;
    border: 2px solid hsl(0, 0%, 70%);
    margin-top: 10px;
    min-height: 40px;
}
.SignUpPage_CaptchaItem-input:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
.SignUpPage_CaptchaItem-input.error {
    border-color: hsl(350, 70%, 55%);
    background-color: hsl(350, 80%, 95%);
}
.SignUpPage_CaptchaItem-input[disabled] {
    background-color: hsl(0, 0%, 95%);
}

.SignUpPage_CaptchaItem-error {
    color: hsl(350, 70%, 55%);
    white-space: normal;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
