.ChangePasswordPage_RepeatNewPasswordItem-input {
    background-color: white;
    padding: 5px 10px;
    cursor: text;
    width: 100%;
    border: 2px solid hsl(0, 0%, 70%);
    height: 44px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.ChangePasswordPage_RepeatNewPasswordItem-input:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
.ChangePasswordPage_RepeatNewPasswordItem-input.error {
    border-color: hsl(350, 70%, 55%);
    background-color: hsl(350, 80%, 95%);
}
.ChangePasswordPage_RepeatNewPasswordItem-input[disabled] {
    background-color: hsl(0, 0%, 95%);
}

.ChangePasswordPage_RepeatNewPasswordItem-error {
    color: hsl(350, 70%, 55%);
    white-space: normal;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
