.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.CloseButton:focus {
    background-color: hsl(95, 70%, 95%);
}
.CloseButton:active {
    background-color: hsl(95, 70%, 85%);
}
