.ConnectionErrorPage {
    overflow: auto;
    text-align: center;
}

.ConnectionErrorPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.ConnectionErrorPage-frame {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    background-color: white;
    padding: 20px;
}

.ConnectionErrorPage-text {
    padding: 20px;
    margin-bottom: 10px;
    white-space: normal;
    line-height: 20px;
}

.ConnectionErrorPage-button {
    width: 100%;
}
