.FoundContactPage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.FoundContactPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.FoundContactPage-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: left;
}

.FoundContactPage-title {
    text-align: center;
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    margin-top: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FoundContactPage-text {
    text-align: center;
    padding: 20px;
    white-space: normal;
    line-height: 20px;
}

.FoundContactPage-text-username {
    font-weight: bold;
}

.FoundContactPage-button {
    margin-top: 10px;
    width: 100%;
}
