.GreenButton {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: hsl(95, 60%, 55%);
    border: 2px solid hsl(95, 60%, 55%);
    min-height: 40px;
}
.GreenButton:focus {
    background-color: hsl(95, 60%, 65%);
}
.GreenButton:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
    border-color: hsl(95, 60%, 35%);
}
.GreenButton[disabled] {
    color: white;
    background-color: hsl(0, 0%, 70%);
    border-color: hsl(0, 0%, 70%);
    cursor: default;
}
