.InvitePanel-title {
    font-size: 22px;
    line-height: 44px;
    text-align: center;
    color: hsl(95, 60%, 55%);
}

.InvitePanel-smsButton {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: calc(50% - 5px);
}

.InvitePanel-emailButton {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: calc(50% - 5px);
    margin-left: 10px;
}
