.LoadingPage {
    text-align: center;
}

.LoadingPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.LoadingPage-content {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    background-color: white;
}
