.NoScript {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: hsl(95, 70%, 85%);
}

.NoScript-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.NoScript-content {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    background-color: white;
    white-space: normal;
    line-height: 20px;
}
