.Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(95, 70%, 85%);
    background-repeat: repeat-x, repeat-x;
    background-position: center bottom, center 30%;
}
