.SignOutPage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.SignOutPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.SignOutPage-frame {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    background-color: white;
    padding: 20px;
}

.SignOutPage-text {
    padding: 20px;
    white-space: normal;
    line-height: 20px;
    margin-bottom: 10px;
}

.SignOutPage-yesButton {
    width: calc(55% - 5px);
}

.SignOutPage-noButton {
    width: calc(45% - 5px);
    margin-left: 10px;
}
