.SimpleUserPage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.SimpleUserPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.SimpleUserPage-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    padding-top: 10px;
    text-align: left;
}

.SimpleUserPage-title {
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 54px;
}

.SimpleUserPage-button {
    margin-top: 10px;
    width: 100%;
}
