.WorkPage_ChatPanel_CloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.WorkPage_ChatPanel_CloseButton:focus {
    background-color: hsl(95, 70%, 95%);
}
.WorkPage_ChatPanel_CloseButton:active {
    background-color: hsl(95, 70%, 85%);
}
