.WorkPage_ChatPanel_MessagesPanel {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.WorkPage_ChatPanel_MessagesPanel-content {
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
    overflow: auto;
}

.WorkPage_ChatPanel_MessagesPanel-doneMessages {
    padding-top: 10px;
    padding-bottom: 10px;
}

.WorkPage_ChatPanel_MessagesPanel-sendingMessages {
    padding-bottom: 10px;
}
.WorkPage_ChatPanel_MessagesPanel-sendingMessages.hidden {
    display: none;
}

@media (max-height: 300px) {
    .WorkPage_ChatPanel_MessagesPanel.typing {
        top: 0;
    }
}

@media (orientation: landscape) {
    .WorkPage_ChatPanel_MessagesPanel-content {
        bottom: 64px;
    }
}

@media (orientation: portrait), (min-height: 400px)  {
    .WorkPage_ChatPanel_MessagesPanel-content {
        bottom: 118px;
    }
}
