.WorkPage_ChatPanel_SendingFileMessage {
    border: 2px solid hsl(95, 70%, 85%);
    padding: 10px;
    margin-top: 10px;
    white-space: pre-wrap;
    line-height: 20px;
    background-color: white;
    color: hsl(0, 0%, 70%);
}
.WorkPage_ChatPanel_SendingFileMessage:first-child {
    margin-top: 0;
}

.WorkPage_ChatPanel_SendingFileMessage-size {
    color: hsl(0, 0%, 70%);
}
