.WorkPage_ChatPanel_SentTextMessage {
    background-color: white;
    border: 2px solid hsl(95, 70%, 85%);
    padding: 10px;
    margin-top: 10px;
    line-height: 20px;
}

.WorkPage_ChatPanel_SentTextMessage-time {
    float: right;
    text-align: right;
    line-height: 20px;
    color: hsl(0, 0%, 70%);
}

.WorkPage_ChatPanel_SentTextMessage-item {
    white-space: pre-wrap;
}
