.WorkPage_ChatPanel_SentFileMessage {
    background-color: white;
    border: 2px solid hsl(95, 70%, 85%);
    padding: 10px;
    margin-top: 10px;
    line-height: 20px;
}

.WorkPage_ChatPanel_SentFileMessage-time {
    float: right;
    text-align: right;
    line-height: 20px;
    color: hsl(0, 0%, 70%);
}

.WorkPage_ChatPanel_SentFileMessage-item {
    position: relative;
    white-space: pre-wrap;
}
.WorkPage_ChatPanel_SentFileMessage-item.sending {
    padding-left: 90px;
}

.WorkPage_ChatPanel_SentFileMessage-item-size {
    color: hsl(0, 0%, 70%);
}

.WorkPage_ChatPanel_SentFileMessage-item-sending {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    text-align: center;
    line-height: 40px;
    background-color: hsl(95, 70%, 85%);
}
.WorkPage_ChatPanel_SentFileMessage-item-sending.failed {
    color: hsl(350, 70%, 55%);
    background-color: hsl(350, 80%, 95%);
}

.WorkPage_ChatPanel_SentFileMessage-item-sending-done {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
}

.WorkPage_ChatPanel_SentFileMessage-item-sending-done-text {
    width: 80px;
    background-color: hsl(95, 60%, 55%);
    color: white;
}
.WorkPage_ChatPanel_SentFileMessage-item-sending-done-text.failed {
    background-color: hsl(350, 70%, 55%);
}
