.WorkPage_ChatPanel_Title {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.WorkPage_ChatPanel_Title-button {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    line-height: 44px;
    padding-right: 26px;
    padding-left: 14px;
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) center;
}
.WorkPage_ChatPanel_Title-button:focus {
    background-color: hsl(95, 70%, 95%);
}
.WorkPage_ChatPanel_Title-button:active {
    background-color: hsl(95, 70%, 85%);
}
.WorkPage_ChatPanel_Title-button.pressed {
    color: white;
    background-color: hsl(95, 60%, 55%);
}
.WorkPage_ChatPanel_Title-button.pressed:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
}

.WorkPage_ChatPanel_Title-buttonText {
    display: inline-block;
    vertical-align: top;
    max-width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: inherit;
    font-weight: bold;
}

@media (min-width: 400px) {
    .WorkPage_ChatPanel_Title-buttonText {
        max-width: 182px;
    }
}

@media (min-width: 660px) {
    .WorkPage_ChatPanel_Title-buttonText {
        max-width: 144px;
    }
}

@media (min-width: 800px) {
    .WorkPage_ChatPanel_Title-buttonText {
        max-width: 182px;
    }
}
