.WorkPage_SidePanel_ContactList {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.WorkPage_SidePanel_ContactList-content {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.WorkPage_SidePanel_ContactList-empty {
    color: hsl(0, 0%, 70%);
    padding: 30px;
    text-align: center;
}
