.WorkPage_SidePanel_Contact {
    display: block;
    width: 100%;
    line-height: 60px;
    cursor: pointer;
    padding-right: 18px;
    padding-left: 62px;
    background-repeat: no-repeat;
    background-position: left center;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    border: 2px solid transparent;
}
.WorkPage_SidePanel_Contact.withMessages {
    padding-right: 60px;
}
.WorkPage_SidePanel_Contact.offline {
    color: hsl(0, 0%, 70%);
}
.WorkPage_SidePanel_Contact:focus {
    background-color: hsl(95, 70%, 95%);
}
.WorkPage_SidePanel_Contact:active {
    background-color: hsl(95, 70%, 85%);
}
.WorkPage_SidePanel_Contact.selected {
    color: white;
    background-color: hsl(95, 60%, 55%);
    border-color: hsl(95, 60%, 55%);
}
.WorkPage_SidePanel_Contact.selected:focus {
    background-color: hsl(95, 60%, 65%);
}
.WorkPage_SidePanel_Contact.selected:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
    border-color: hsl(95, 60%, 35%);
}
.WorkPage_SidePanel_Contact.selected:disabled {
    background-color: hsl(0, 0%, 70%);
    border-color: hsl(0, 0%, 70%);
    cursor: default;
}

.WorkPage_SidePanel_Contact-number {
    position: absolute;
    top: 15px;
    right: 18px;
    min-width: 30px;
    line-height: 30px;
    background-color: hsl(350, 70%, 55%);
    color: white;
    display: none;
    text-align: center;
    padding-right: 4px;
    padding-left: 4px;
}
.WorkPage_SidePanel_Contact-number.visible {
    display: block;
}

@media (min-width: 660px) {
    .WorkPage_SidePanel_Contact {
        width: calc(100% + 20px);
    }
}
