.WorkPage_SidePanel_Panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: white;
    background-position: center bottom;
    background-repeat: repeat-x;
}
.WorkPage_SidePanel_Panel.chatOpen {
    display: none;
}

.WorkPage_SidePanel_Panel-addContactButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 118px;
}

@media (min-width: 660px) {
    .WorkPage_SidePanel_Panel {
        width: 330px;
    }
    .WorkPage_SidePanel_Panel.chatOpen {
        display: block;
    }
}
@media (min-width: 1100px) {
    .WorkPage_SidePanel_Panel {
        width: 400px;
    }
}
