.WorkPage_ChatPanel_ContactMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 2px solid hsl(95, 60%, 55%);
    z-index: 1;
    min-width: 100%;
    margin-top: -2px;
}

.WorkPage_ChatPanel_ContactMenu-item {
    line-height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}
.WorkPage_ChatPanel_ContactMenu-item.active,
.WorkPage_ChatPanel_ContactMenu-item:active {
    background-color: hsl(95, 70%, 85%);
}
