.WorkPage_ChatPanel_MessageText-link {
    color: hsl(95, 60%, 55%);
    cursor: pointer;
    white-space: pre-wrap;
}
.WorkPage_ChatPanel_MessageText-link:hover {
    text-decoration: underline;
}

.WorkPage_ChatPanel_MessageText-disabledLink {
    white-space: pre-wrap;
}
