.WorkPage_ChatPanel_MoreButton {
    position: absolute;
    top: 0;
    width: 70px;
}

.WorkPage_ChatPanel_MoreButton-button {
    padding-top: 5px;
    padding-right: 12px;
    padding-bottom: 5px;
    width: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: hsl(45, 75%, 55%);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    border: 2px solid hsl(45, 75%, 55%);
}
.WorkPage_ChatPanel_MoreButton-button.not_pressed:focus {
    background-color: hsl(45, 75%, 65%);
}
.WorkPage_ChatPanel_MoreButton-button.pressed:active,
.WorkPage_ChatPanel_MoreButton-button.not_pressed:active {
    color: hsl(45, 75%, 70%);
    background-color: hsl(45, 75%, 35%);
    border-color: hsl(45, 75%, 35%);
}
.WorkPage_ChatPanel_MoreButton-button[disabled] {
    color: white;
    background-color: hsl(0, 0%, 70%);
    border-color: hsl(0, 0%, 70%);
    cursor: default;
}

@media (orientation: landscape) {
    .WorkPage_ChatPanel_MoreButton {
        right: 80px;
    }
}

@media (orientation: landscape) and (max-width: 400px)  {
    .WorkPage_ChatPanel_MoreButton.typeFocused {
        display: none;
    }
}

@media (orientation: portrait), (min-height: 400px) {
    .WorkPage_ChatPanel_MoreButton {
        right: 0;
    }
}
