.WorkPage_ChatPanel_MoreMenu {
    position: absolute;
    right: 0;
    bottom: 100%;
    background-color: white;
    border: 2px solid hsl(45, 75%, 55%);
    z-index: 1;
    min-width: 100%;
    margin-top: -2px;
}

.WorkPage_ChatPanel_MoreMenu-item {
    position: relative;
    line-height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    overflow: hidden;
}
.WorkPage_ChatPanel_MoreMenu-item.active,
.WorkPage_ChatPanel_MoreMenu-item:active {
    background-color: hsl(45, 75%, 90%);
}

.WorkPage_ChatPanel_MoreMenu-fileInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: inherit;
    opacity: 0;
}
.WorkPage_ChatPanel_MoreMenu-fileInput::-webkit-file-upload-button {
    display: none;
}
