.WorkPage_ChatPanel_Panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: white;
    background-position: center bottom;
    background-repeat: repeat-x;
}

@media (max-height: 300px) {
    .WorkPage_ChatPanel_Panel-bar.hidden {
        display: none;
    }
}

@media (min-width: 660px) {
    .WorkPage_ChatPanel_Panel {
        left: 330px;
        border-left: 2px solid hsl(95, 70%, 85%);
    }
}

@media (min-width: 1100px) {
    .WorkPage_ChatPanel_Panel {
        left: 400px;
    }
}
