.WorkPage_ChatPanel_ReceivedTextMessage {
    background-color: hsl(95, 70%, 85%);
    padding: 12px;
    margin-top: 10px;
    line-height: 20px;
}

.WorkPage_ChatPanel_ReceivedTextMessage-time {
    float: right;
    text-align: right;
    line-height: 20px;
    color: hsl(0, 0%, 70%);
}

.WorkPage_ChatPanel_ReceivedTextMessage-item {
    white-space: pre-wrap;
}
