.WorkPage_ChatPanel_ReceivedFileMessage {
    background-color: hsl(95, 70%, 85%);
    padding: 12px;
    margin-top: 10px;
    line-height: 20px;
}

.WorkPage_ChatPanel_ReceivedFileMessage-time {
    float: right;
    text-align: right;
    line-height: 20px;
    color: hsl(0, 0%, 70%);
}

.WorkPage_ChatPanel_ReceivedFileMessage-item {
    position: relative;
    white-space: pre-wrap;
}
.WorkPage_ChatPanel_ReceivedFileMessage-item.withReceiveLink {
    padding-left: 90px;
}

.WorkPage_ChatPanel_ReceivedFileMessage-item-size {
    color: hsl(0, 0%, 70%);
}

.WorkPage_ChatPanel_ReceivedFileMessage-receiveLink {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 80px;
    color: white;
    background-color: hsl(95, 60%, 55%);
    text-align: center;
    line-height: 40px;
}
.WorkPage_ChatPanel_ReceivedFileMessage-receiveLink:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
}
