.WorkPage_ChatPanel_SendingTextMessage {
    border: 2px solid hsl(95, 70%, 85%);
    padding: 10px;
    margin-top: 10px;
    line-height: 20px;
    background-color: white;
    color: hsl(0, 0%, 70%);
}
.WorkPage_ChatPanel_SendingTextMessage:first-child {
    margin-top: 0;
}

.WorkPage_ChatPanel_SendingTextMessage-item {
    white-space: pre-wrap;
}
