.WorkPage_ChatPanel_TypePanel {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.WorkPage_ChatPanel_TypePanel-textarea {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    cursor: text;
    line-height: 20px;
    border-top: 2px solid hsl(0, 0%, 70%);
    white-space: pre-wrap;
}
.WorkPage_ChatPanel_TypePanel-textarea:focus {
    border-color: hsl(95, 60%, 55%);
}

.WorkPage_ChatPanel_TypePanel-sendButton {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
}

@media (orientation: landscape) {
    .WorkPage_ChatPanel_TypePanel {
        height: 40px;
    }
    .WorkPage_ChatPanel_TypePanel-textarea {
        width: calc(100% - 160px);
    }
}

@media (orientation: landscape) and (max-width: 400px) {
    .WorkPage_ChatPanel_TypePanel-textarea:focus {
        width: calc(100% - 80px);
    }
}

@media (orientation: portrait), (min-height: 400px) {
    .WorkPage_ChatPanel_TypePanel {
        height: 90px;
    }
    .WorkPage_ChatPanel_TypePanel-textarea {
        width: calc(100% - 80px);
    }
}
