.WelcomePage_Page {
    overflow: auto;
    text-align: center;
}

.WelcomePage_Page-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.WelcomePage_Page-frame {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: left;
}

.WelcomePage_Page-logoWrapper {
    padding-top: 10px;
    text-align: center;
}

.WelcomePage_Page-logo {
    display: inline-block;
    width: 112px;
    height: 154px;
    vertical-align: top;
}

.WelcomePage_Page-warning {
    color: hsl(350, 70%, 55%);
    white-space: normal;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.WelcomePage_Page-signInForm {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding-bottom: 10px;
}

.WelcomePage_Page-signInButton {
    margin-top: 10px;
    width: 100%;
}

.WelcomePage_Page-signUpButton {
    width: 100%;
}
