.AccountPage_EmailItem {
    position: relative;
}

.AccountPage_EmailItem-input {
    background-color: white;
    padding: 5px 10px;
    cursor: text;
    width: calc(100% - 58px);
    border-style: solid;
    border-color: hsl(0, 0%, 70%);
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    height: 44px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.AccountPage_EmailItem-input:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
.AccountPage_EmailItem-input[disabled] {
    background-color: hsl(0, 0%, 95%);
}
