.AccountPage_Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.AccountPage_Page-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.AccountPage_Page-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 300px;
    background-color: white;
    padding: 20px;
    padding-top: 10px;
    text-align: left;
}

.AccountPage_Page-title {
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 54px;
}

.AccountPage_Page-form {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.AccountPage_Page-saveChangesButton {
    margin-top: 10px;
    width: 100%;
}

.AccountPage_Page-changePasswordButton {
    width: 100%;
}
