.AccountPage_PrivacySelect {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 58px;
    height: 44px;
    line-height: 44px;
}

.AccountPage_PrivacySelect-button {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: hsl(0, 0%, 70%);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    background-repeat: no-repeat, no-repeat;
    background-position: 2px center, calc(100% - 10px) center;
}
.AccountPage_PrivacySelect-button:focus {
    background-color: hsl(95, 70%, 95%);
    border-color: hsl(95, 60%, 55%);
}
.AccountPage_PrivacySelect-button:active {
    background-color: hsl(95, 70%, 85%);
    border-color: hsl(95, 60%, 55%);
}
.AccountPage_PrivacySelect-button.pressed {
    color: white;
    background-color: hsl(95, 60%, 55%);
    border-color: hsl(95, 60%, 55%);
}
.AccountPage_PrivacySelect-button.pressed:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
    border-color: hsl(95, 60%, 35%);
}
.AccountPage_PrivacySelect-button[disabled] {
    background-color: hsl(0, 0%, 95%);
}

.AccountPage_PrivacySelect-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 2px solid hsl(95, 60%, 55%);
    z-index: 1;
    margin-top: -2px;
}
