.AccountPage_TimezoneItem {
    position: relative;
}

.AccountPage_TimezoneItem-select {
    vertical-align: top;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    width: calc(100% - 58px);
    border-style: solid;
    border-color: hsl(0, 0%, 70%);
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.AccountPage_TimezoneItem-select:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
.AccountPage_TimezoneItem-select[disabled] {
    background-color: hsl(0, 0%, 95%);
}
