.BackButton {
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 44px;
    padding-right: 14px;
    padding-left: 14px;
    cursor: pointer;
    color: hsl(95, 60%, 55%)
}
.BackButton:focus {
    background-color: hsl(95, 70%, 95%);
}
.BackButton:active {
    background-color: hsl(95, 70%, 85%);
}
