.ContactRequestPage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.ContactRequestPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.ContactRequestPage-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 300px;
    background-color: white;
    padding: 20px;
    padding-top: 10px;
    text-align: left;
}

.ContactRequestPage-title {
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 54px;
    margin-bottom: 10px;
}

.ContactRequestPage-text {
    text-align: center;
    padding: 20px;
    white-space: normal;
    line-height: 20px;
}

.ContactRequestPage-text-username {
    font-weight: bold;
}

.ContactRequestPage-buttons {
    margin-top: 10px;
}

.ContactRequestPage-addContactButton {
    width: calc(60% - 5px);
}

.ContactRequestPage-ignoreButton {
    width: calc(40% - 5px);
    margin-left: 10px;
}
