.CrashPage {
    overflow: auto;
    text-align: center;
}

.CrashPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.CrashPage-frame {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    background-color: white;
    padding: 20px;
}

.CrashPage-text {
    padding: 20px;
    margin-bottom: 10px;
    white-space: normal;
    line-height: 20px;
}

.CrashPage-button {
    width: 100%;
}
