* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    border-radius: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    cursor: default;
    text-align: inherit;
    text-decoration: none;
    resize: none;
    opacity: 1;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-wrap: break-word;
}

*::-moz-focus-inner {
    padding: 0;
    border: 0;
}

html, body {
    background-color: white;
    color: hsl(0, 0%, 30%);
    height: 100%;
    font: normal 15px/30px Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-align: left;
}
