.OrangeButton {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: hsl(45, 75%, 55%);
    border: 2px solid hsl(45, 75%, 55%);
}
.OrangeButton:focus {
    background-color: hsl(45, 75%, 65%);
}
.OrangeButton:active {
    color: hsl(45, 75%, 70%);
    background-color: hsl(45, 75%, 35%);
    border-color: hsl(45, 75%, 35%);
}
.OrangeButton[disabled] {
    color: white;
    background-color: hsl(0, 0%, 70%);
    border-color: hsl(0, 0%, 70%);
    cursor: default;
}
