.PrivacyPage {
    overflow: auto;
    text-align: center;
}

.PrivacyPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.PrivacyPage-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: left;
}

.PrivacyPage-title {
    text-align: center;
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    margin-top: 34px;
}

.PrivacyPage-text {
    line-height: 20px;
    white-space: pre-wrap;
}
