.RemoveContactPage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.RemoveContactPage-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.RemoveContactPage-frame {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    background-color: white;
    padding: 20px;
}

.RemoveContactPage-text {
    padding: 20px;
    white-space: normal;
    line-height: 20px;
}

.RemoveContactPage-username {
    font-weight: bold;
}

.RemoveContactPage-buttons {
    margin-top: 10px;
}

.RemoveContactPage-removeButton {
    width: calc(65% - 5px);
}

.RemoveContactPage-cancelButton {
    width: calc(35% - 5px);
    margin-left: 10px;
}
