.SmileysPage_Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(95, 60%, 55%, 0.5);
    overflow: auto;
    text-align: center;
}

.SmileysPage_Page-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.SmileysPage_Page-frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 240px;
    margin: auto;
    background-color: white;
    padding: 20px;
    padding-top: 10px;
    text-align: left;
}

.SmileysPage_Page-title {
    color: hsl(95, 60%, 55%);
    font-size: 22px;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 54px;
}

.SmileysPage_Page-button {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
.SmileysPage_Page-button:focus {
    background-color: hsl(95, 70%, 95%);
}
.SmileysPage_Page-button:active {
    background-color: hsl(95, 70%, 85%);
}
