.WelcomePage_Privacy {
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}

.WelcomePage_Privacy-privacy {
    display: inline-block;
    vertical-align: top;
    color: hsl(95, 60%, 55%);
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
}
.WelcomePage_Privacy-privacy:focus {
    background-color: hsl(95, 70%, 95%);
}
.WelcomePage_Privacy-privacy:active {
    background-color: hsl(95, 70%, 85%);
}
