.WelcomePage_PublicLine {
    text-align: center;
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}

.WelcomePage_PublicLine-item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}
.WelcomePage_PublicLine-item.visible {
    opacity: 1;
}
