.WelcomePage_StaySignedInItem {
    margin-top: 10px;
    line-height: 25px;
}

.WelcomePage_StaySignedInItem-click {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.WelcomePage_StaySignedInItem-click.disabled {
    cursor: default;
}

.WelcomePage_StaySignedInItem-button {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    line-height: 21px;
    border: 2px solid hsl(0, 0%, 70%);
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}
.WelcomePage_StaySignedInItem-button:focus {
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 70%, 95%);
}
.WelcomePage_StaySignedInItem-button:active {
    background-color: hsl(95, 70%, 85%);
}
.WelcomePage_StaySignedInItem-button.checked {
    color: white;
    border-color: hsl(95, 60%, 55%);
    background-color: hsl(95, 60%, 55%);
}
.WelcomePage_StaySignedInItem-button.checked:focus {
    background-color: hsl(95, 60%, 65%);
}
.WelcomePage_StaySignedInItem-button.checked:active {
    color: hsl(95, 70%, 70%);
    background-color: hsl(95, 60%, 35%);
    border-color: hsl(95, 60%, 35%);
}
.WelcomePage_StaySignedInItem-button[disabled] {
    background-color: hsl(0, 0%, 95%);
    cursor: default;
}
